# Зависимости
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
yarn.lock
package-lock.json
# Переменные окружения
#.env
#.env.local
#.env.development
#.env.test
#.env.production
#server/.env

# Сборки
/dist/
/build/
/out/

# Директория покрытия тестами
/coverage/

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы IDE и редакторов
.idea/
.vscode/
*.swp
*.swo
*.sublime-*
.DS_Store
.project
.classpath
.settings/
*.iml

# Временные директории
.tmp/
.temp/
.cache/

# Кэш npm
.npm

# Кэш eslint
.eslintcache

# Docker файлы
docker-compose.override.yml
.dockerignore

# Разное
.DS_Store
Thumbs.db